/* Stili per il menu mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    display: none;
  }

  .avatar-container {
    display: block;
  }

  .avatar-menu {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--shadow-lg);
    margin-bottom: 1.5rem;
  }
}
