/* media all query mobile */
@media (max-width: 768px) {
  /* Rimuove lo scrolling orizzontale nella sezione curriculum */
  .card-container {
    height: 600px !important; /* Imposta un'altezza fissa per evitare lo scrolling */
    overflow-y: auto !important;
    overflow-x: hidden !important; /* Impedisce lo scrolling orizzontale */
  }
}
